.webpage{
  font-family: 'Asap', sans-serif;
}

.logo{
  margin: 20px 10px 20px 20px;
  width: 50px;
}

.nav-bar{
  margin: 40;
}

.nav-bar-item{
  margin-right: 10px;
  color: rgb(255, 88, 55);
}

.selected-tab{
  padding-bottom: 4px;
  color: rgb(165, 42, 42);
  border-bottom: solid 3px pink;
}

.secondary-nav-bar{
  margin-left: 20px;
  color: rgb(255, 149, 150);
}

.help-menu{
  margin-left: 750px;
}

.introductory-banner{
  background: linear-gradient(to right, rgb(222, 37, 116), rgb(255, 81, 47));
}

.back-to-shoes{
  color: white;
  padding-top: 30px;
  margin-bottom: 30px;
}

.selected-shoe{
  width: 600px;
  margin-bottom: 100px;
}

.banner-left{
  display: inline-block;
  margin-left: 200px;
}

.banner-right{
  float:right;
  display: inline-block;
  color: white;
  width: 400px;
  margin-top: 50px;
  margin-right: 200px;
}

.larger-text{
  line-height: 40px;
  font-size: 45px;
}

.sub-header{
  color: brown;
  margin-bottom: 35px;
}

.latin{
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 2px dashed brown;
  border-bottom: 2px dashed brown;
  line-height: 30px
}

.review-link{
  color: brown;
  text-decoration: underline;
  margin-left: 175px;
}

.dollar-sign-and-cent-price{
  color: white;
  margin-top: 35px;
  line-height: 0px;
}

.dollar-sign{
  padding-right: 25px;
}

.cent-price{
  padding-left: 25px;
}

.sale-link{
  margin-top: 0px;
  padding-bottom: 40px;
  transform: translate(10px,-15px);
}

.dollar-price{
  color: white;
  font-size: 30px;
  margin-right: 25px;
}

.sale-button{
  font-size: 17.5px;
  color: rgb(255, 92, 51);
  margin-left: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.sale-button:hover{

}


.product-details{
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 22%;
  margin-bottom: 40px;
  padding: 0px 0px 10px 0px;
  border-bottom: solid thin pink;
}

.product-tab{
  font-size: 20px;
  color: brown;
  padding: 0px 0px 10px 0px;
  border-bottom: solid 3px pink;
}

.size-tab{
  font-size: 20px;
  color: rgb(255, 92, 51);
  padding: 0px 10px 10px 20px;
}

.reviews-tab{
  font-size: 15px;
  color: pink;
  padding: 0px 0px 10px 10px;
}

.rating > span {
  display: inline-block;
  position: relative;
}
.rating:hover > span:before{
   content: "\2605";
   position: absolute;
}
.rating > span:hover ~ span:before {
   content: "";
}

.descriptive-text{
  margin-left: 200px;
  margin-right: 22%;
  margin-bottom: 80px;
}

.topic-header-1{
  color:rgb(51, 26, 0);
  font-size: 30px;
  margin-bottom: 30px;
}

.topic-header-2{
  color: rgb(51, 26, 0);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px
}

.shoe-size{
  margin: 50px 0px;
}

.shoe-size-header{
  color: rgb(51, 26, 0);
  font-size: 30px;
  margin-bottom: 20px;
}

.customer-review-header{
  color: rgb(51, 26, 0);
  font-size: 30px;
  margin-bottom: 20px;
}

.customer-review-text{
  color: rgb(128, 66, 0);
  font-size: 16px;
  line-height: 27.5px;
}

.content-here{
  color: rgb(128, 66, 0);
  font-size: 16px;
}

.store-banner{
  color:rgb(51, 26, 0);
  font-size: 30px;
  padding: 15px 25% 15px 35%;
  background-color: rgb(255, 235, 230);
}

.store-body{
  background: linear-gradient(to right, #ff0066, #ff5c33);
}

.shoe-display{
  width: 300px;
}


.funny-sneaker{
  float: left;
  margin-left: 200px;
}

.nimble-sneaker{
  display: inline-block;
  margin-left: 50px;
}

.cute-sneaker{
  float: right;
  margin-right: 250px;
}

.sneaker-title{
  padding-top: 20px;
  color: white;
  font-size: 25px;
}

.store-sub-header{
  color:brown;
  margin-bottom: 0px;
}

.store-price{
  color: white;
  margin: 10px 0px 0px 0px;
  padding: 0px
}

.store-price-2{
  color: white;
  font-size: 30px;
}

.price-value{
  transform: translate(9px,-25px)
}

.closing-banner{
display: inline;
}

.closing-text{
  color: rgb(128, 66, 0);
  margin-left: 650px;
}

.shipping-and-terms{
  text-decoration: underline;
}
